.featured_projects_title{
	transition: all 0.3s ease 0s;
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
	display:flex;
	justify-content: center;
	width:100%;
	font-size: var(--header-text);
	font-weight: 700;
	font-style: normal;
    margin-top:0;
    margin-bottom: 2rem;
}

.projects{
    display: flex;
    justify-content: center;
    width:60vw;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    max-width: 768px;
}

.projectHR{
	transition: all var(--transition-speed) ease 0s;
    width:50vw;
    max-width: 1280px;
    margin: 0 auto;
    border:0;
    height: 0.01rem;
    background:var(--text-color);
}