footer{
	background:var(--bg-color);
	scroll-snap-align: start;
	transition: all 1s ease 0s;
}

#footer_icons{
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0 25px 0;
}

#footer_text{
	transition: all 0.3s ease 0s;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	color: var(--text-color);
	display:flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 30px;
}