nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_links li, .nav_links a{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size:16px;
	color: #7BC8F6;
	text-decoration: none;
}

#navbar{
	background: #e3eeff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px 10%;
	position: fixed;
	box-shadow: none;
	top:0;
	width:100%;
	opacity: 1;
	transition: all 0.9s;
	z-index: 1;
}

#navbar.notNavTop{
	box-shadow: 0 1px 1px rgba(6,8,8,.1);
	background: #fffbf5;
	opacity: 0.98;
}

.logo{
	cursor: pointer;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	letter-spacing: 6px;
}

.logo a{
	text-decoration: none;
	color: #7BC8F6;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display:inline-block;
	padding: 0px 15px;
}

.nav_links li{
	transition: all 0.3s ease 0s;
}

.nav_links li:hover{
	color:#214761;
}

svg path{
	transition: all 0.3s ease 0s;
}

svg:hover path{
	fill:#214761;
}

.logo h4 a{
	transition: all 0.3s ease 0s;
}

.logo h4 a:hover{
	color:#214761;
}

.fade_in{
	opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

body.loaded .fade_in{
	opacity:1;
}

.bring_up_upper{
	opacity: 0;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transform: translateY(60px);
}

.github_svg{
	width: 1.5rem;
}

.linkedin_svg{
	width: 1.5rem;
}

.envelope_svg{
	width: 1.5rem;
}

.nav_icons{
	display:flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.icon{
	padding: 0 8px;
}