nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_links li, .nav_links a{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size:1rem;
	color: var(--text-color);
	text-decoration: none;
}

#navbar{
	background: var(--bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:1.5rem 10%;
	position: fixed;
	box-shadow: none;
	top:0;
	width:100%;
	opacity: 1;
	transition: all 0.9s;
	z-index: 1;
}

#navbar.notNavTop{
	box-shadow: 0 0.3px 1px var(--header-line-color);
	background: var(--header-color);
	opacity: 0.99;
}

.logo{
	cursor: pointer;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	letter-spacing: 0.375rem;
}

.logo a{
	text-decoration: none;
	color: var(--text-color);
}

.nav_links{
	list-style: none;
	cursor: pointer;
}

.nav_links li{
	display:inline-block;
	padding: 0px 1rem;
}

.nav_links li{
	transition: all 0.3s ease 0s;
}

.nav_links li:hover{
	color: var(--text-hover-color);
}

svg path{
	transition: all 0.3s ease 0s;
	fill:var(--text-color);
}

svg:hover path{
	fill:var(--text-hover-color);
}

.logo h4 a{
	transition: all 0.3s ease 0s;
}

.logo h4 a:hover{
	color:var(--text-hover-color);
}

.fade_in{
	opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

body.loaded .fade_in{
	opacity:1;
}

.bring_up_upper{
	opacity: 0;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transform: translateY(60px);
}

.github_svg{
	width: 1.5rem;
}

.linkedin_svg{
	width: 1.5rem;
}

.envelope_svg{
	width: 1.5rem;
}

.nav_icons{
	list-style: none;
}

.nav_icons li{
	display:inline-block;
}

.icon{
	padding: 0px 0.5rem;
}