.project_page_container{
	transition: all var(--transition-speed) ease 0s;
    background: var(--bg-color);
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.project_header{
	transition: all var(--transition-speed) ease 0s;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.project_title{
    font-size: 6rem;
    font-weight: 700;
    text-align:center;
    padding-top:20vh;
}

.project_tags{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 30vw;
    font-size: 0.8rem;
    padding-top: 2rem;
    white-space: nowrap;
}

.project_content{
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    padding-top: 3rem;
}

.tagItem:hover{
    border: 0.1px solid var(--text-color)
}

.project_timeline{
    font-size: 0.8rem;
    padding-top: 0.6rem;
}

.projectThumbnail{
    width: 50vw;
}